body, 
html { 
    height: 100%; 
    margin: 0;
}
h1 {
    font-weight: 900;
    margin: 0;
    font-size: 88px;
}
.top {
    background: #95629D;
    color: #fff;
    font-family: 'Roboto';
    padding: 100px 0;
}
.flex{
    display: flex;
    justify-content: space-around;
    
    
}

.item {
    width: 300px; 
    height: 300px;
}

.item h1 {
    font-size: 36px;
    color: #fff;
}

.item1 { 
    background: #7FEE9E;
}

.item2 {
    background: #ED5757;
    color: #ED5757; 
  
}
.item3 {

    background: #6A85E7;
    color: #6A85E7; 

}

.iteam:last-child {margin-right: 10px;}


.bottom {
    background: #fff;
    color: #000;
    font-family: 'Montserrat';
    padding-top: 314px;
    padding-left: 100px;
    padding-bottom: 54px;
}

h6 {
    font-weight: 300;
    margin: 0;
    font-size: 18px;
    padding-left: 572px;
}
.date {
    font-weight: 300;
    padding: 0 55px;
}

.hey {
    background: #95629D;
    color: #fff;
    font-family: 'Roboto';
    padding-left: 100px;
}

.items {
    font-size: 18px;
    font-family: 'Roboto';
}

.item1 h1 {
    padding-top: 90px;
    padding-left: 40px;
}

.item2 h1 {
    padding-top: 90px;
    padding-left: 65px;
}

.item3 h1 {
    padding-top: 90px;
    padding-left: 105px;
}

h5 {
    font-weight: 300;
    margin: 0;
    font-size: 18px;
}

.items1 h5 {
    color: #000;
    padding-left: 40px;
}

.items2 h5 {
    border-color: #ED5757;
    color: #000;
    padding-left: 40px;
    padding-top: 30px;
}

.items3 h5 {
    border-color: #6A85E7;
    color: #000;
    padding-left: 25px;
    padding-top: 30px;
}

.one {
    padding-top: 30px;
}

.second {
    padding-left: 65px;
}